<!DOCTYPE html
	PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
	<head>
		<title>Wobmail</title>
		<link href="/wobmail/css/login.css" rel="StyleSheet" type="text/css" />
	</head>
	<body>
		<div align="center">
			<table id="mainTable">
				<tbody>
					<tr id="languageSelectionRow">
						<td>
							<webobject name = "LanguageForm">
								<webobject name="LanguageString" />:
								<webobject name="LanguagePopUpButton"><webobject name="LanguageOptionsRepetition"><webobject name="LanguageOptionGeneric"><webobject name="LanguageOptionNameString" /></webobject></webobject></webobject>
								<noscript><webobject name="LanguageChangeSubmitGeneric" /></noscript>
							</webobject>
						</td>
					</tr>
					<tr id="mainRow">
						<td align="center">
							<br/><br/><br/><br/>
							<table id="mainLoginTable">
								<tr>
									<td align="center"><img src="/wobmail/images/wobmail-logo.png" /></td>
									<td bgcolor="black" width="1"><img src="/wobmail/images/spacer.gif" border="0" height="1" width="1" /></td>
									<td align="center">
										<webobject name="ShowErrorConditional"><webobject name="ErrorString" /></webobject>
										<webobject name = "LoginForm">
											<table align="center" id="coreLoginTable">
												<tr>
													<td class="loginLabel"><webobject name="UsernameString" />:</td>
													<td class="loginTextField"><input type="text" name="u" /></td>
												</tr>
												<tr>
													<td class="loginLabel"><webobject name="PasswordString" />:</td>
													<td class="loginTextField"><input type="password" name="p" /></td>
												</tr>
												<tr>
													<td>&nbsp;</td>
													<td class="loginTextField"><webobject name="SubmitGeneric" /></td>
												</tr>
											</table>
											<webobject name="LanguageHiddenGeneric" />
										</webobject>
									</td>
								</tr>
							</table>
							<br/><br/><br/><br/>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</body>
</html>
