<webobject name="PageWrapper">
	<table>
		<tr>
			<td><webobject name="FromString" />:</td>
			<td><webobject name="FromValueString" /></td>
		</tr>
		<tr>
			<td><webobject name="ToString" />:</td>
			<td><webobject name="ToValueString" /></td>
		</tr>
		<tr>
			<td><webobject name="SentDateString" />:</td>
			<td><webobject name="SentDateValueString" /></td>
		</tr>
		<tr>
			<td><webobject name="SubjectString" />:</td>
			<td><webobject name="SubjectValueString" /></td>
		</tr>
	</table>
	<table width="100%"><tr>
		<td>
			<webobject name="ReplyHyperlink" /> ::
			<webobject name="ReplyToAllHyperlink" /> ::
			<webobject name="ForwardHyperlink" /> ::
			<webobject name="ForwardAsAttachmentHyperlink" /> ::
			<webobject name="MoveToTrashHyperlink" />
		</td>
		<td align="right">
			<webobject name="ViewSourceHyperlink" />
			<webobject name="ShowPreviousLinkConditional">:: <webobject name="PreviousMessageHyperlink" /></webobject>
			<webobject name="ShowNextLinkConditional">:: <webobject name="NextMessageHyperlink" /></webobject>
		</td>
	</tr></table>
	<div style="background-color: white; border: 1px solid #999999; padding: 2px"><pre><webobject name="DefaultMessageContentString" /></pre></div>
	<br/>
	<div><webobject name="MessageContent" /></div>
</webobject>
