<html>
	<body>
		<div align="center">
			<br/><br/><br/><br/>
			<webobject name="ShowErrorConditional"><webobject name="ErrorString" /></webobject>
			<webobject name="Form">
				<table>
					<tr>
						<td>Username:</td>
						<td><webobject name="UsernameTextField" /></td>
					</tr>
					<tr>
						<td>Password:</td>
						<td><webobject name="PasswordField" /></td>
					</tr>
					<tr>
						<td>&nbsp;</td>
						<td><webobject name="SubmitButton" /></td>
					</tr>
				</table>
			</webobject>
		</div>
	</body>
</html>
