<!DOCTYPE html
	PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
	<head><title>Wobmail</title></head>
	<body>
		<div align="center">
			<table>
				<tbody>
					<tr>
						<td>
							<form action="login" method="get" name="languageForm">
								<webobject name="LanguageString" />:
								<webobject name="LanguagePopUpButton"><webobject name="LanguageOptionsRepetition"><webobject name="LanguageOptionGeneric"><webobject name="LanguageOptionNameString" /></webobject></webobject></webobject>
								<noscript><webobject name="LanguageChangeSubmitGeneric" /></noscript>
							</form>
						</td>
					</tr>
					<tr>
						<td>
							<br/><br/><br/><br/>
							<webobject name="ShowErrorConditional"><webobject name="ErrorString" /></webobject>
							<form action="login" method="post" name="loginForm">
								<table>
									<tr>
										<td><webobject name="UsernameString" />:</td>
										<td><input type="text" name="u" /></td>
									</tr>
									<tr>
										<td><webobject name="PasswordString" />:</td>
										<td><input type="password" name="p" /></td>
									</tr>
									<tr>
										<td>&nbsp;</td>
										<td><webobject name="SubmitGeneric" /></td>
									</tr>
								</table>
								<webobject name="LanguageHiddenGeneric" />
							</form>
							<br/><br/><br/><br/>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</body>
</html>
