/*
 * main.css for wobmail
 * File that should contain all common css for wobmail
 * Jonny Meijer 2009-11-03
 */

body {
	background-color: #EEEEEE;
	font-family: Arial, sans-serif;
	font-size: 10pt;
}

#mainLoginTable > tbody > tr > td {
	padding: 0px;
}

#mainTable {
	background: white;
	border: 1px solid black;
	margin: 100px 20px 100px 20px;
	text-align: center;
	width: 600px;
}

#languageSelectionRow > td {
	text-align: right;
}

#coreLoginTable {
	padding-left: 15px;
}

td.loginLabel {
	text-align: right;
}

td.loginTextField {
	text-align: left;
}
