/*
 * main.css for wobmail
 * File that should contain all common css for wobmail
 * Jonny Meijer 2008-04-13
 */

body {
	background-color: #F9F9F9;
	font-family: Arial, sans-serif;
	font-size: 10pt;
}

table {
	font-family: Arial, sans-serif;
	font-size: 10pt;
}

div.XWMlistOperations {
	padding: 3px;
}

input.XWMsubmitButton {
	background-color: #FFAE0E;
	border: 1px solid #666;
	color: black;
	font-weight: bold;
}

table.XWMmessageList {
	background-color: white;
	border: 1px solid #999999;
	width: 100%;
	border-spacing: 0px;
}

table.XWMmessageList tr.XWMlistRowDark {
	background-color: #F9F9F9;
}

table.XWMmessageList tr.XWMlistRowLight {
	background-color: white;
}

table.XWMmessageList tr.XWMlistRowLightSelected {
	background-color: #FFFFCC;
}

table.XWMmessageList tr.XWMheaderListRow th {
	background-image: url("/wobmail/images/listTitleBg.gif");
	background-repeat: repeat-x;
	border-bottom: 1px solid #999999;
	font: bold 8pt Arial, sans-serif;
	height: 15px;
	text-align: left;
}

table.XWMmessageList td {
	padding: 2px;
	font: 10pt Arial, sans-serif;
}

table.XWMmessageList tr:hover td {
	background-color: #CCCCCC;
}
